<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Blogs</title>
</head>
<body>
{% extends 'base_template.html' %}

{% block content %}

{% load static %}

<div style="text-align: center;">
    <h1>Here you can find all blogs</h1>
    <h2>I have written {{ blog.count }} blog{{ blog.count|pluralize }} </h2>
</div>

{% load static %}

{% for item in blog %}
<div class="d-flex p-3 bd-highlight flex-row  justify-content-center align-items-center">
    <div class="card" style="width: 55rem;">
        <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            <p class="card-text">{{ item.description|truncatechars:100|striptags }}</p>
            <a href="{% url 'blog:details' item.id %}" class="btn btn-primary">Read More</a>
            <p><small class="muted-text">{{ item.date|date:'d M Y'|upper }}</small></p>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
</body>
</html>