<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Blogs</title>
</head>
<body>
{% load static %}
<nav dir="rtl">
    <a href="{% url 'homepage' %}">Home Page</a>
    <a href="{% static 'portfolio/MJ_Resume.pdf' %}">Resume</a>
    <a href="">LinkedIn</a>
    <a href="">GitHub</a>
    <a href="{% url 'blog:all_blogs' %}">Blog</a>
</nav>
<div style="text-align: center;">
    <h1>Here you can find all blogs</h1>
    <h2>I have written {{ blog.count }} blog{{ blog.count|pluralize }} </h2>
</div>

{% load static %}

<img src="{% static 'blog/radood.jpg' %}" width="200" height="400"><br>


{% for item in blog %}

<a href="{% url 'blog:details' item.id %}"> {{ item.title }}</a> <br>
{{ item.date|date:'d M Y'|upper }} <br>
{{ item.description|truncatechars:100 }} <br>

{% endfor %}
</body>
</html>